<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23H417</string>
	<key>CFBundleDisplayName</key>
	<string>apcStepper</string>
	<key>CFBundleExecutable</key>
	<string>apcStepper</string>
	<key>CFBundleIdentifier</key>
	<string>io.enabled.apc.Stepper.StepperAUv3</string>
	<key>CFBundleName</key>
	<string>apcStepper</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>24C94</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>15.2</string>
	<key>DTSDKBuild</key>
	<string>24C94</string>
	<key>DTSDKName</key>
	<string>macosx15.2</string>
	<key>DTXcode</key>
	<string>1620</string>
	<key>DTXcodeBuild</key>
	<string>16C5032a</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.2</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>AudioComponents</key>
			<array>
				<dict>
					<key>description</key>
					<string>apcStepper</string>
					<key>factoryFunction</key>
					<string>apcStepperAUFactoryAUv3</string>
					<key>manufacturer</key>
					<string>ENIO</string>
					<key>name</key>
					<string>enabled.io: apcStepper</string>
					<key>sandboxSafe</key>
					<true/>
					<key>subtype</key>
					<string>STEP</string>
					<key>tags</key>
					<array>
						<string>Synth</string>
						<string>MIDI</string>
					</array>
					<key>type</key>
					<string>aumi</string>
					<key>version</key>
					<integer>65536</integer>
				</dict>
			</array>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.AudioUnit-UI</string>
		<key>NSExtensionPrincipalClass</key>
		<string>apcStepperAUFactoryAUv3</string>
	</dict>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
