*.a
*.app
*.d
*.dll
*.dylib
*.exe
*.gch
*.la
*.lai
*.lib
*.lo
*.mod
*.o
*.obj
*.out
*.pch
*.slo
*.smod
*.so
.idea/**
**/.idea/
build/**
cmake-build-debug/**
cmake-build-release/**
cmake-build-ios/**
apcSequencer/build/**
apcSequencer/cmake-build-debug/**
apcSequencer/cmake-build-release/**
apcSequencer/modules
apcSequencer/modules/
apcSequencer/modules/**
**/*.DS_Store
reaperTestProjects/Backups/*-bak
