*.a
*.app
*.d
*.dll
*.dylib
*.exe
*.gch
*.la
*.lai
*.lib
*.lo
*.mod
*.o
*.obj
*.out
*.pch
*.slo
*.smod
*.so
.idea/**
**/.idea/
build/**
cmake-build-debug/**
cmake-build-release/**
PluginSequencerMIDI/build/**
PluginSequencerMIDI/cmake-build-debug/**
PluginSequencerMIDI/cmake-build-release/**
PluginSequencerMIDI/modules/
PluginSequencerMIDI/modules/**
**/*.DS_Store
modules/**
